/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body{
 // background-image: url("https://s3.amazonaws.com/asilrima/56.55102-14.jpg");
  background-image: url("https://s3.amazonaws.com/asilrima/Stockholm.jpg");
  //opacity: 0.9;
}

#compnay_search{
  margin-top: 200px;
  background-color:#4d94ff;
  border-radius: 10px;
  font-color: white;
  h1{
    //color: #F9B44D;
    color: #D59B45;
  }
}

#compnay_result{
  margin-top: 200px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

#get_orgnr{
  background-color: #FF9900;
  border: none;
  color: white;
  padding: 3px 4px 3px 4px;
  border-radius: 2px;
 //  margin: auto;
}

.alert-danger{
  font-color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}